/*Body */
.letrasGood{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    color: #000000;
}
body{
background-color:rgb(89, 219, 219);
}

h1{
    text-align:justify;
    font-style: italic;
}
.aboutMe{
    text-align:center;
    width: 490px;
    height: 150px;
    border-radius: 5px;
}
.box{
    display: flex;
    justify-content: center;
    gap: 5px;
    align-content: center;
    margin-top: 35px;
    @media (max-width: 720px){
        flex-direction: row;:
    }

}