

header{  text-align: center;
    background-color: #e6fc74}
.datos{font-style: italic;}
body{
    color: #080f11;
    background: url(img/lemon-pie\ 1.jpg);
}
h1{text-align: center}
h2{text-align: center}
section{background-color: #e6fc74;}
    /* main */
 main{ /* background-color: #e6fc74;  */
    text-align:auto;
    margin: auto;
    width: 1041px;
    left: 213px;
    top: 365px;}

 footer{ 
    text-align:center;
    background-color: #e7e9de 
    }


    